<div class="custom-text-section">
  <h2> {{ section.settings.custom_text_title }} </h2>
  <div>{{ section.settings.custom_text_body }}</div>
</div>

{% schema %}
  {
    "name": "Slide Anjay",
    "settings": [],
    "presets": [
      {
        "name": "Slide Anjay",
        "category": "Custom"
      }
    ]
  }
{% endschema %}