<head>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Anton|Cabin|Lato|Fjalla+One|Montserrat|Roboto&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <!-- Custom Style Sheet -->
    <style>
        * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.owl-carousel {
    width: 100%;
    height: 100vh;
}

.slide {
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.slide-1 {
    background-image: url("https://cdn.shopify.com/s/files/1/0541/2198/8270/files/IMG_9099.jpg?v=1614058217");
}

.slide-2 {
    background-image: url("https://cdn.shopify.com/s/files/1/0541/2198/8270/files/IMG_9099.jpg?v=1614058217");
}

.slide-3 {
    background-image: url("https://cdn.shopify.com/s/files/1/0541/2198/8270/files/IMG_9099.jpg?v=1614058217");
}

.slide-content {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff !important;
    padding: 0 20%;
}


      
.slide-content h1 {
    font-family: 'Herr Von Muellerhoff';
    font-size: 80px;
    color: white;
    text-transform: uppercase;
    
    
}

.slide-content p {
    font-family: "Lato", serif;
    font-size: 18px;
    margin-bottom: 20px;
}

.slide-content button {
    font-family: "Roboto", serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10px 25px;
    border: none;
}

.owl-dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 1%;
}

.owl-dots span {
    width: 20px !important;
    height: 20px !important;
}

.owl-dots button {
    border: none !important;
    outline: none !important;
}

.owl-nav button {
    border: none !important;
    outline: none !important;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff !important;
    font-size: 65px !important;
    font-weight: bolder !important;
    background:none !important;
}

.owl-prev {
    left: 1%;
}

.owl-next {
    right: 1%;
}

@media (min-width:900px){
  .slide-content h1 img {
  transform: translateX(23%) !important;
}
}

.owl-nav  span {
  font-size: 30px !important;
}

    </style>
</head>

<body>
    <div class="owl-carousel">
        <div class="slide slide-1">
            <div class="slide-content">
                <h1><img src="https://cdn.shopify.com/s/files/1/0541/2198/8270/files/heading-text.svg?v=1651619050"></h1>
                
            </div>
        </div>
        <div class="slide slide-2">
            <div class="slide-content">
                <h1><img src="https://cdn.shopify.com/s/files/1/0541/2198/8270/files/heading-text.svg?v=1651619050"></h1>
            </div>
        </div>
        <div class="slide slide-3">
            <div class="slide-content">
                <h1><img src="https://cdn.shopify.com/s/files/1/0541/2198/8270/files/heading-text.svg?v=1651619050"></h1>
            </div>
        </div>
    </div>


    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Owl Carousel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <!-- Custom Javascript -->
    <script>
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel({
                items:1,
                loop:true,
                nav:true,
                dots:true,
                autoplay:true,
                autoplaySpeed:1000,
                smartSpeed:1500,
                autoplayHoverPause:true
            });
        });
    </script>
  
</body>

{% schema %}
  {
    "name": "Slide Anjay",
    "settings": [],
    "presets": [
      {
        "name": "Slide Anjay",
        "category": "Custom"
      }
    ]
  }
{% endschema %}