<section></section>

{% schema %}
{
  "name": "Image Carousel",
  "settings": [],
  "presets": [{
    "name": "Slider Hero",
    "category": "Custom"
  }],
  "blocks": [{
    "type": "image",
    "name": "Carousel Image",
    "settings": [{
      "type": "image_picker",
      "id": "image",
      "label": "Select Image"
    }]
  }],
  "max_blocks": 10
}
{% endschema %}
