<section></section>
{% schema %}
  {
    "name": "Inc Slider",
    "settings": [],
    "presets": [
      {
        "name": "Inc Slider",
        "category": "Custom"
      }
    ]
  }
{% endschema %}