<section></section>
{% schema %}
  {
    "name": "Inc Slider",
    "settings": [],
    "presets": [
      {
        "name": "Inc Slider",
        "category": "Custom"
      }
    ],
    "blocks": [{
      "type": "image",
      "name": "Carousel Image",
      "settings": [{
        "type": "image_picker",
        "id": "image",
        "label": "Select Image"
      }]
    }],
  }
{% endschema %}