<section></section>

{% schema %}
  {
    "name": "Slider Hero",
    "settings": [],
    "presets": [
      {
        "name": "Slide Anjay",
        "category": "Custom"
      }
    ]
  }
{% endschema %}