/* grid layout collection */

.collage h3.card__heading {
    text-transform: uppercase;
}

/* sejajarin image size */
.card__inner.color-background-2.gradient.ratio {
    height: 100%;
  }



@media screen and (min-width: 750px) {
  .section-template--15555848470702__featured_collection-padding {
    padding-top: 48px !important;
  }
  
  .list-social {
  justify-content: flex-start !important;
  padding-left: 245px !important;
}
}


